<div class="header">
 
  <div style="text-align: center;">
  <img src="images/logo-01.png" alt="Logo 1" style="max-width: 45%; height: auto;" />
</div>
</div>

<div class="banner">
  <h1>Campaña gratuita de salud femenina</h1>
  <p>Para servidores públicos del Congreso y sus dependencias</p>
  <div class="fechas">Lunes 8 y martes 9 de diciembre</div>
  <div class="horario">09:00 a 14:00 horas</div>
  <div class="sedes">
    <p><b>Congreso del Estado de México</b><br>
      Plaza Hidalgo s/n, Col. Centro. Toluca, Edomex.</p>
    <p><b>Voluntariado del Congreso del Estado de México</b><br>
      Plutarco González No.111, Col. La Merced y Alameda Toluca de Lerdo, Estado de México</p>
  </div>
</div>

<!--<div class="content">
  <div class="box">
    <h2>1. Check up médico</h2>
    <p><b>Requisitos</b></p>
    <ul>
      <li>Ayuno de 8 a 10 horas.</li>
      <li>Entregar muestra de la primera orina de la mañana en envase esterilizado.</li>
      <li>Indicar si hubo consumo de algún medicamento.</li>
    </ul>
  </div>

  <div class="box">
    <h2>2. Antígeno prostático específico</h2>
    <p><b>Requisitos</b></p>
    <ul>
      <li>Abstinencia sexual y evitar eyaculación durante 48 horas previas al estudio.</li>
      <li>Evitar ejercicio intenso 48 horas previas al estudio (ciclismo, motociclismo).</li>
      <li>Realizar la prueba previo al estudio de ultrasonido prostático o manipulación prostática (tacto, masaje, citoscopía).</li>
      <li>Indicar si hubo consumo de algún medicamento.</li>
    </ul>
  </div>
</div>
-->







<div class="d-flex align-items-center justify-content-center mt-4">
  <!--<img src="images/logo-02.png" alt="Logo 02" style="height: 250px; margin-right: 0.5rem;" />-->
  <button class="btn btn-primary" [routerLink]="['/auth/login']">
    Registro
  </button>
</div>

<div class="footer">
  Voluntariado del Congreso del Estado de México<br>
  722 279 6499
</div>